<form #formData="ngForm" (ngSubmit)="sendData(formData.value)">
  <div class="row">
    <div class="col-9 my-2">
      <label for="cardNumber" class="form-label">Número de tarjeta</label>
      <input class="form-control" ngModel type="number" name="card-number" id="cardNumber">
    </div>

    <div class="col-3 my-2">
      <label for="expirationDate" class="form-label">Fecha de vencimiento</label>
      <input class="form-control" ngModel type="date" id="expirationDate" name="date">
    </div>

    <div class="col-3 my-2">
      <label for="secretCode" class="form-label">Código secreto</label>
      <input class="form-control" type="text" id="secretCode" ngModel name="code">
    </div>

    <div class="col-6 my-2">
      <label for="name" class="form-label">Nombre y apellido</label>
      <input class="form-control" type="string" id="name" ngModel name="name-lastname">
    </div>
  </div>
  <div class="d-flex justify-content-end my-4">
    <button type="submit" class="btn btn-primary">Pagar</button>
  </div>
</form>