<article class="exercise">
  <h2>Ejercicio 1: Manejo de queryparams y directivas estructurales</h2>
  <p class="explanation">Los usuarios necesitan utilizar la función del navbar de búsqueda ubicada en la parte superior
    a la derecha de la
    pantalla para buscar información sobre sus frameworks de frontend favoritos.</p>
  <p class="necesity">
    Se le solicita al desarrollador que obtenga la búsqueda del usuario y que filtre los frameworks existentes por su
    <strong>descripción</strong>. El desarrollador debe tener en cuenta que el usuario puede hacer una búsqueda vacía,
    para la que se deben devolver todos los frameworks. En caso de que no se encuentre nada se debe mostrar un mensaje
    indicándolo.
  </p>
  <p class="tip">
    Tip: Un desarrollador ya implementó la redirección a la página search, en la que se deberán mostrar los frameworks,
    pero no ha terminado el trabajo.
  </p>
</article>

<article class="exercise">
  <h2>Ejercicio 2: Manejo de pipes</h2>
  <p class="explanation">Los datos con los que la tabla de la pantalla Pipes están cargados son muy confusos para los
    usuarios; a veces confunden las monedas con los porcentajes, y otras veces confunden las fechas por estar en un
    formato incorrecto.</p>
  <p class="necesity">
    El departamento de ventas le solicita al desarrollador que aplique pipes a los datos de la tabla según corresponda.
    Para las fechas, el departamento ordena utilizar <code>DD/MM/YYYY</code>, y <code>USD</code> para los dólares,
    pero no tienen preferencias para los porcentajes.
    Por otra parte, al parecer ha surgido un lenguaje muy raro de gente que habla <i>al revés</i>; por lo que un
    desarrollador de un equipo ajeno creó un custom pipe llamado <code>alreves</code> para que la empresa pudiera
    utilizarlo.
  </p>
  <p class="tip">
    Tip: Un desarrollador acabó confundiendo los meses con los minutos por no leer la documentación del funcionamiento
    del pipe para las fechas.
  </p>
</article>

<article class="exercise">
  <h2>Ejercicio 3: Manejo de Formularios con Template Driven Forms</h2>
  <p class="explanation">Hemos incorporado la posibilidad de pagar online en nuestra tienda de productos. Los usuarios
    podrán cargar los datos de sus tarjetas de crédito en nuestra plataforma.</p>
  <p class="necesity">
    El cliente nos solicita crear un formulario para que su aplicación reciba los datos de la tarjeta de crédito.
    Nuestro referente técnico nos ha ordenado utilizar template driven forms por un tema de consistencia con otros
    formularios de la aplicación. Como todavía no están listos los servicios del backend para recibir los parámetros,
    solo mostraremos por consola los valores del formulario.
  </p>
  <p class="tip">
    Tip: El manejo de NgModels es muy importante en el trabajo de un desarrollador Angular, pero como toda técnica,
    tiene sus fortalezas y debilidades: <b>es importante conocer algunas de ellas</b> para aprender a decidir cuándo sí
    o cuando no utilizarla.
  </p>
</article>

<article class="exercise">
  <h2>Ejercicio 4: Manejo de Formularios con Reactive Forms</h2>
  <p class="explanation">Una nueva heladería ha abierto una sección para compras online. Nuestro referente técnico
    sugiere aprovechar la ocasión y utilizar Reactive Forms para crear el formulario.
  </p>
  <p class="necesity">
    Se solicita al desarrollador que utilice un formulario de tipo
    reactivo en la página de pedido de helado. Como todavía no están listos los servicios del backend para recibir los
    parámetros, solo mostraremos por consola los valores del formulario.
  </p>
  <p class="tip">
    Tip: Es muy importante conocer la API de los formularios reactivos de Angular, ya que poseen diversas herramientas
    que facilitan el trabajo diario, como por ejemplo, saber utilizar FormBuilder para formularios más complejos.
  </p>
</article>